/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background-color: #f0f0f0;
  color: #444;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

button:hover {
  background-color: #222;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Styles */
.header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.welcome-message {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.user-actions {
  display: flex;
  gap: 10px;
}

/* Product Card Styles */
.products-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  animation: fadeIn 0.5s ease-in-out;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 5px;
}

/* Login/Register/Profile Styles */
.login-container,
.register-container,
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card,
.register-card,
.profile-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

.login-card h2,
.register-card h2,
.profile-card h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: start;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-login,
.btn-register,
.btn-profile,
.btn-logout {
  width: 100%;
  margin-top: 10px;
}

.login-links,
.register-links {
  text-align: center;
  margin-top: 20px;
}

.link {
  display: inline-block;
  margin: 0 5px;
}

.error-message {
  background-color: #f8d7da; /* Fondo rojo claro */
  border: 1px solid #f5c6cb; /* Borde color rojo claro */
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  color: #721c24; /* Texto color rojo oscuro */
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .products-box {
    grid-template-columns: 1fr;
  }
}
